beautifulsoup4==4.12.2
Django==4.2.1
django-unfold==0.20.4
fake-useragent==1.4.0
gunicorn==21.2.0
pafy==0.5.5
Pillow==9.5.0
pytube==15.0.0
pytz==2024.1
requests==2.31.0
waitress==3.0.0
youtube-dl==2021.12.17
