<div class="row">
  <div class="videos__slider owl-carousel">
    <div class="col-lg-3">
      <div class="videos__item">
        <div class="videos__item__pic set-bg sbb" data-setbg="{{i.thumb}}">
          <a href="{{i.link}}" class="play-btn video-popup"
            ><i class="fa fa-play"></i
          ></a>
        </div>
        <div class="videos__item__text">
          <h5>{{i.title}}</h5>
          <ul>
            <li>{{i.dur}}</li>
            <li>{{i.add_time}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
