{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="DJoz Template" />
    <meta name="keywords" content="DJoz, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Musics</title>

    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/nowfont.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.min.css"
    /> -->
    <link rel="stylesheet" href="{% static 'css/album.css' %}" />
    <title>Images</title>
  </head>
  <body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header header--normal">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <div class="header__logo">
              <a href="{% url 'index' %}"
                ><img src="{% static 'img/AXM.png' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="header__nav">
              <nav class="header__menu mobile-menu">
                <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li class="active">
                    <a href="{% url 'images' %}">Rasmlar</a>
                  </li>
                  <li><a href="{% url 'musics' %}">Musiqalar</a></li>
                  <li><a href="{% url 'videos' %}">Videolar</a></li>
                  <li>
                    <a href="#">Sahifalar</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'about' %}">AzizMuz haqida</a></li>
                      <li><a href="./blog.html">Blog</a></li>
                      <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'contact' %}">Bog'lanish</a></li>
                </ul>
              </nav>
              <div class="header__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header Section End -->

    <div class="grid-container">
      {% if album %}
      {% for item in album %}
      <div class="grid-item">
          <img
            src="{{item.image}}"
            alt="{{item.title}}"
            class="images"
          />
          <div class="item-details">
            <h3>{{item.title}}</h3>
            <p>{{item.date}}</p>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <h3 class="no-content m">Hozircha rasmlar mavjud emas</h3>
      {% endif %}
    </div>
    <div class="bottom">
      </div>
    </div>
    <!-- Footer Section Begin -->
    <footer
      class="footer footer--normal spad set-bg"
      data-setbg="{% static 'img/footer-bg.png' %}"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer__address">
              <ul>
                <li>
                  <i class="fa fa-phone"></i>
                  <p>Telefon raqam</p>
                  <h6>1-677-124-44227</h6>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <p>Email</p>
                  <h6><a class="l-c-w" href="mailto:DJ.Music@gmail.com">DJ.Music@gmail.com</a></h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
            <div class="footer__social">
              <h2>AzizMuz</h2>
              <div class="footer__social__links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
            <div class="footer__newslatter">
              <h4>Biz bilan qoling</h4>
              <form class="subscribe-form">
                            {% csrf_token %}
                            {{emailfield.email}}
                            <button type="button" class="send-btn"><i class="fa fa-send-o"></i></button>
                        </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/Isotope.js' %}"></script>
    <script src="{% static 'js/subscribe-handler.js' %}"></script>
  </body>
</html>
