{% load static %}

<!DOCTYPE html>
<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="DJoz Template" />
    <meta name="keywords" content="DJoz, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/barfiller.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/nowfont.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/rockville.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/magnific-popup.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/m.css' %}" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header header--normal">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <div class="header__logo">
              <a href="{% url 'index' %}"
                ><img src="{% static 'img/AXM.png' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="header__nav">
              <nav class="header__menu mobile-menu">
                <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'images' %}">Rasmlar</a></li>
                  <li><a href="{% url 'musics' %}">Musiqalar</a></li>
                  <li><a href="{% url 'videos' %}">Videolar</a></li>
                  <li><a href="{% url 'blogs' %}">Blog</a></li>
                  <li class="active">
                    <a href="javascript:void(0)">Sahifalar</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'about' %}">AzizMuz haqida</a></li>
                      <li><a href="{% url 'contact' %}">Bog'lanish</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div class="header__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-menu-wrap"></div>
      </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__links">
              <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
              <span>Contact</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="contact__address">
              <div class="section-title">
                <h2>Contact info</h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore.
              </p>
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i>
                  <h5>Address</h5>
                  <p>Los Angeles Gournadi, 1230 Bariasl</p>
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  <h5>Hotline</h5>
                  <span>1-677-124-44227</span>
                  <span>1-688-356-66889</span>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <h5>Email</h5>
                  <p>
                    <a class="l-c-w b-c" href="mailto:ache13777@gmail.com"
                      >azizbekxalillayev@gmail.com</a
                    >
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="contact__form">
              <div class="section-title">
                <h2>Get in touch</h2>
              </div>
              <p>
                Eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas accumsan lacus vel facilisis.
              </p>
              <form class="contact-form">
                {% csrf_token %}
                <div class="input__list">
                  {{ contact.name }} {{ contact.phone_number }}
                </div>
                {{ contact.comment }}
                <button type="button" class="site-btn">SEND MESSAGE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    <footer
      class="footer footer--normal spad set-bg"
      data-setbg="{% static 'img/footer-bg.png' %}"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer__address">
              <ul>
                <li>
                  <i class="fa fa-phone"></i>
                  <p>Phone</p>
                  <h6>1-677-124-44227</h6>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <p>Email</p>
                  <h6>
                    <a class="l-c-w" href="mailto:DJ.Music@gmail.com"
                      >DJ.Music@gmail.com</a
                    >
                  </h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 col-md-6">
            <div class="footer__social">
              <h2>DJoz</h2>
              <div class="footer__social__links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6">
            <div class="footer__newslatter">
              <h4>Stay With me</h4>
              <form class="subscribe-form">
                {% csrf_token %} {{emailfield.email}}
                <button type="button" class="send-btn">
                  <i class="fa fa-send-o"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    {% if event %}
    <div class="ad-banner">
      {% if event.image %}
      <img
        src="{{event.image}}"
        alt="{{event.title}}"
        class="img-banner"
      />
      {% endif %}
      <div class="ad-content">
        <h2>{{ event.title }}</h2>
        <p>{{ event.description | linebreaksbr }}</p>
      </div>
      <a href="{{ event.link }}" class="cta-button"
        ><i class="fas fa-arrow-right" id="ad-i"></i
      ></a>
    </div>
    {% endif %}

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/subscribe-handler.js' %}"></script>

    <!-- Music Plugin -->
    <script src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'js/jplayerInit.js' %}"></script>
  </body>
</html>
