@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap");
@font-face {
  font-family: "signature";
  src: url("/static/fonts/signature.ttf") format("truetype");
}
.ad-banner {
  margin: 0 !important;
  padding: 0 !important;
  z-index: 10004;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 15vh;
  align-items: center;
  /* border: 2px solid #4CAF50; */
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
img {
  margin-right: auto;
}
.ad-banner::before {
  content: "";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 10004;
  height: 100%;
  background-color: rgb(25, 26, 26);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  bottom: 0;
}

.ad-content {
  z-index: 10005;
  font-family: "Kanit", sans-serif;
  text-align: center;
}

.ad-content h2 {
  font-size: 25px;
  color: white;
  margin: auto;
}

.ad-content p {
  font-size: 12px;
  color: white;
  margin: 5px 0;
  overflow: hidden;
  display: -webkit-box;
  padding: 0 5%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-shadow: 0 0 5px black;
  line-height: normal;
}

.cta-button {
  position: relative;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  background-color: rgba(255, 85, 0, 0.08);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10005;
}
.img-banner {
  margin-left: 5%;
  max-width: 15vw;
  max-height: 100%;
  z-index: 10006;
  object-fit: contain;
}
#ad-i {
  cursor: pointer;
  color: white !important;
  position: static;
  margin: auto;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .ad-banner {
    height: 10vh;
  }
  .img-banner {
    max-width: 15vw;
    max-height: 100%;
    object-fit: contain;
  }
  .ad-content h2 {
    font-size: 18px;
  }
  .ad-content p {
    font-size: 10px;
  }
  #ad-i {
    position: inherit;
    font-size: 3rem;
    min-width: 15vw;
  }
  .cta-button {
    background-color: rgba(255, 0, 0, 0.08);
  }
  .a-p {
    visibility: hidden;
    height: 0;
  }
  .track__pic {
    margin-top: 50px;
  }
}

.tcim {
  border-radius: 10px;
  margin: 0 1%;
  background-color: #56565611;
  padding-bottom: 10px;
  max-height: none !important;
  height: unset !important;
}
.tcm {
  border-radius: 10px;
  margin: 0 1%;
  background-color: #56565611;
  padding-bottom: 10px;
}
.single_player_container {
  border-radius: 18px;
  padding: 10px;
  margin: 10px;
  background-color: #64646411;
}

body {
  background-color: #99999911;
}
.track__pic:after {
  background-color: #f2f2f2;
}
.c-m {
  margin: 0 auto !important;
}

.signature {
  font-family: "signature", Times, serif;
}
.videos__item {
  padding: 10px;
  background-color: #50505011;
  border-color: aqua;
  border-radius: 8px;
}
.youtube__item {
  padding: 10px;
  background-color: #50505011;
  border-color: aqua;
  border-width: 5px;
  border-radius: 8px;
}
.youtube__item__pic,
.sbb {
  border-radius: 5px;
  overflow: hidden;
}
.youtube__item__text {
  background-color: #50505000 !important;
}

.videos__large__item {
  border-radius: 8px;
  overflow: hidden;
}

.track__content {
  max-height: 502px;
  scroll-behavior: smooth;
  overflow: auto;
}

.track__content::-webkit-scrollbar {
  background-color: rgba(137, 137, 137, 0.31);
  width: 5px;
  border-radius: 2rem;
}
.track__content::-webkit-scrollbar-thumb {
  background-color: #50505099;
  border-radius: 2rem;
}

.t-i-c {
  font-size: 14px;
}
